* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

header {
  width: 100%;
  z-index: 100;
  background-color: #fff;
}

header .container {
  position: absolute;
  top: 0;
  position: relative;
  height: 70px;
}

header nav {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  margin: auto;
  width: 100%;
}

.logo {
  font-size: 1.25rem;
  font-weight: 700;
  color: #333;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  z-index: 100;
}

nav ul li a {
  display: inline-block;
  padding: 3.75rem 1rem;
  text-decoration: none;
  color: #333;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  transition: 150ms ease-in-out;
}

nav ul .active a::after {
  content: "";
  width: 150%;
  height: 83px;
  background-color: #49796b;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-5deg);
  z-index: -1;
}

nav ul .active a {
  color: #fff;
}

nav ul li:not(.active):hover a::after {
  content: "";
  width: 150%;
  height: 85px;
  background-color: #49796b;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-5deg);
  z-index: -1;
  color: #fff;
}

nav ul li:hover a {
  color: #fff;
}

.menu-btn {
  display: none;
}

/* mission section */

.banner {
  height: 120vh;
  width: 100vw;
  max-height: 1505px;
  background-color: transparent;
}

.banner .container:nth-child(1) {
  position: relative;
  height: 100%;
}

.banner::after {
  content: "";
  background-image: url("../assets/marten-bjork-V0vccmEP02g-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 160vh;
  max-height: 1875px;
  background-color: #333;
  position: absolute;
  top: 0;
  z-index: -5;
}

.banner .content {
  display: flex;
  flex-direction: column;
  width: 340px;
  position: absolute;
  top: 20%;
  right: 0;
  transition: 2000ms ease-in-out;
}

.banner h2 {
  font-size: 2.75rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  font-weight: 400;
  color: #fff;
  line-height: 1.2;
}

.banner p {
  font-size: 2rem;
  line-height: 1.5;
  text-transform: uppercase;
  font-weight: 600;
  color: #0c0c0c;
}

.banner a {
  display: inline-block;
  color: #fff;
  padding: 2rem;
  margin-top: 2rem;
  width: fit-content;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  transition: 200ms ease-in-out;
}

.banner a::after {
  content: "";
  width: 150%;
  height: 60px;
  background-color: #49796b;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%) rotate(-5deg);
}

.banner a:hover {
  transform: scale(1.05);
}

/* services section */

#services .container {
  position: relative;
}

.container .services {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1rem;
  position: absolute;
  bottom: -152px;
}

.services .service i {
  font-size: 5rem;
  color: #fff;
  margin: 2rem 0;
}

.services .service {
  padding: 2rem 2rem 5rem;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.services .service h3 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
}

.services .service h3::after {
  content: "";
  display: block;
  width: 50px;
  height: 1px;
  background-color: #fff;
  margin: 1.5rem auto;
}

.services .service p {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #fff;
  text-transform: none;
}

.services .service:nth-child(1)::after,
.services .service:nth-child(2)::after,
.services .service:nth-child(3)::after {
  content: "";
  width: 180%;
  height: 130%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -60%) rotate(-5deg);
  z-index: -1;
}

.services .service:nth-child(1)::after {
  background-color: #49796b;
}

.services .service:nth-child(2)::after {
  background-color: #72a0c1;
}

.services .service:nth-child(3)::after {
  background-color: #8f9779;
}

/* mission section */

.mission-section {
  padding: 14rem 0 12rem;
  position: relative;
}

.mission-section ::after {
  content: "";
  width: 120%;
  height: 77%;
  background-color: #333;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-5deg);
  z-index: -2;
}

.mission-section .content {
  margin: auto;
  text-align: center;
  max-width: 480px;
  z-index: 10;
}

.mission-section h2 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 200;
  color: #fff;
  line-height: 1.2;
}

.mission-section h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
}

.mission-section p {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #fff;
}

.mission-section a {
  display: inline-block;
  color: #fff;
  padding: 2rem;
  margin-top: 2rem;
  width: 160px;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 200ms ease-in-out;
}

.mission-section a::after {
  content: "";
  width: 200%;
  height: 60px;
  background-color: #49796b;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-5deg);
  z-index: -1;
  cursor: pointer;
}

.mission-section a:hover {
  transform: scale(1.05);
}

/* .stats-section section */

.container .stats-section {
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.stats-section .rates {
  display: grid;
  grid-template-columns: repeat(2, 160px);
  gap: 2rem;
}

.status {
  max-width: 360px;
}

.stats-section .status h2 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 300;
  color: #333;
  line-height: 1.2;
}

.stats-section .status h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #333;
}

.stats-section .status p {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #333;
}

.stats-section .status a {
  display: inline-block;
  max-width: 160px;
  color: #fff;
  padding: 2rem;
  margin-top: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  transition: 200ms ease-in-out;
}

.stats-section .status a::after {
  content: "";
  width: 150%;
  height: 60px;
  background-color: #49796b;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%) rotate(-5deg);
  cursor: pointer;
}

.stats-section .status a:hover {
  transform: scale(1.05);
}

.stats-section .rates h3 {
  font-size: 3rem;
  margin-bottom: 0.75rem;
  text-transform: uppercase;
  font-weight: 800;
  color: #49796b;
  line-height: 1;
}

.stats-section .rates p {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  color: #333;
  font-weight: 400;
  line-height: 1.3;
  text-transform: uppercase;
}

.stats-section .rates .stat {
  text-align: center;
  max-width: 180px;
}

/* testimonial section */

.testimonial-section {
  padding: 14rem 0;
  position: relative;
}

.testimonial-section::after {
  content: "";
  width: 120%;
  height: 77%;
  background-color: #49796b;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-5deg);
  z-index: -2;
}

.testimonial-section .test {
  margin: auto;
  text-align: center;
  max-width: 480px;
  display: none;
}

.testimonial-section .active {
  display: block;
}

.testimonial-section h2 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 200;
  color: #fff;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.testimonial-section h3 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 300;
  color: #fff;
}

.testimonial-section h4 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 300;
  color: #fff;
}

.testimonial-section p {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #fff;
}

.footer-pre {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 3rem 2rem;
  padding: 6rem auto 2rem;
  padding-top: 6rem;
}

.footer-pre h1 {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #707070;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.footer-pre h1::after {
  content: "";
  display: block;
  width: 80px;
  height: 1px;
  background-color: #707070;
  margin: 1.5rem 0;
}

.footer-content span {
  color: #707070;
  font-weight: 600;
  text-transform: capitalize;
}

.footer-pre .footer-content p {
  margin-top: 1rem;
  text-transform: capitalize;
}

.footer-pre .footer-content:nth-child(2) {
  p {
    margin-top: unset;
  }
  p:nth-child(3) {
    margin-bottom: 1rem;
  }
  p:nth-child(6),
  p:nth-child(4),
  p:nth-child(5) {
    text-transform: uppercase;
  }
}

.footer-pre .footer-content:nth-child(3) {
  p {
    margin-bottom: 1rem;
  }
  span {
    display: block;
  }
}

footer {
  padding: 25rem 0 2rem;
  margin-top: -5rem;
  position: relative;
  overflow: hidden;
}

footer::after {
  content: "";
  width: 110%;
  height: 100%;
  background-color: #e6e6e6;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -27%) rotate(-5deg);
  z-index: -2;
}

footer .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

footer .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 195px;
}

footer .icons i {
  font-size: 1.5rem;
  color: #fff;
  height: 60px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 12;
  position: relative;
  cursor: pointer;
  transition: 200ms ease-in-out;
}

footer .icons i:hover {
  transform: scale(1.1);
  z-index: 1000;
}

footer .icons i:nth-child(1)::after {
  content: "";
  width: 90px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%) rotate(-5deg);
  background-color: #49796b;
}

footer .icons i:nth-child(2)::after {
  content: "";
  width: 90px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%) rotate(-5deg);
  background-color: #72a0c1;
}

footer .icons i:nth-child(3)::after {
  content: "";
  width: 90px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%) rotate(-5deg);
  background-color: #8f9779;
}

.footer-bottom {
  position: absolute;
  bottom: 6rem;
}

.container {
  margin: auto;
}

@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1270px;
  }
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }

  .container .services {
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }
  .mission-section {
    padding: 12rem auto 12rem;
    overflow: hidden;
  }
  .testimonial-section {
    overflow: hidden;
  }
}

@media only screen and (max-width: 992px) {
  .container {
    max-width: 750px;
    padding: 0 15px;
  }
  .menu-btn {
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    transition: all 0.5s ease;

    div {
      width: 80%;
      height: 3px;
      border-radius: 3px;
      background: #49796b;

      position: relative;
      transition: all 0.5s ease;

      &::before,
      &::after {
        content: "";
        position: absolute;

        width: 50%;
        height: 3px;
        border-radius: 3px;
        background: #49796b;

        transition: all 0.5s ease;
        transform-origin: center;
      }

      &::before {
        top: -12px;
      }

      &::after {
        top: 12px;
        right: 0;
      }
    }
  }

  .close {
    div {
      transform: rotate(225deg);

      &::before {
        transform: rotate(90deg);
        width: 100%;
        top: 0px;
      }

      &::after {
        opacity: 0;
      }
    }
  }
  header {
    z-index: 100;
  }

  header nav ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 67px;
    background-color: #b7b7b7;
    width: calc(100% - 30px);
    overflow: hidden;
    right: 15px;
    height: 0;

    li {
      width: 100%;
      text-align: center;
    }
    li a {
      padding: 11px 32px;
      color: #fff;
    }

    li.active {
      background-color: #49796b;
    }
  }

  header nav ul.active {
    height: fit-content;
  }

  header nav ul li a::after {
    display: none;
  }

  nav ul .active a::after {
    display: none;
  }

  .container .services {
    position: unset;
  }

  .banner {
    height: 100vh;
    max-height: 800px;
    background-color: rgba(28, 25, 25, 0.5);
  }

  .banner::after {
    height: 800px;
    z-index: -1;
  }

  .banner .content {
    top: 50%;
    transform: translateY(-50%);
  }

  .container .services {
    position: unset;
    transform: unset;
    padding: 6rem 0 0;
  }

  .banner p {
    color: #0c0c0c;
  }
  .mission-section {
    padding: 12rem auto 12rem;
    overflow: hidden;
  }
  .testimonial-section {
    overflow: hidden;
  }
  header .container {
    height: fit-content;
    top: 35px;
    z-index: 100;
    position: relative;
  }
  header .container::after {
    content: "";
    position: absolute;
    width: 100vw;
    height: 70px;
    background-color: #fff;
    top: -35px;
    z-index: -1;
    left: 0;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }

  .container nav {
    padding: 0 12px;
  }

  .container .stats-section {
    flex-direction: column;
    align-items: center;
  }
}
